@font-face {
  font-family: 'IconicStroke';
  src: url("/stylus-seal/iconic/iconic_stroke.eot");
  src: local('IconicStroke'),
  url("/stylus-seal/iconic/iconic_stroke.svg#iconic") format('svg'),
  url("/stylus-seal/iconic/iconic_stroke.otf") format('opentype');
}

icon(iconType) {
  &:before {
    color:inherit;
    font-family: "IconicStroke";
    padding-right: 1px;

    content: '!' if iconType == 'icon-home';
    content: "@" if iconType == 'icon-at';
    content: '"' if iconType == 'icon-quote';
    content: "'" if iconType == 'icon-quote-alt';
    content: "3" if iconType == 'icon-arrow-up';
    content: "4" if iconType == 'icon-arrow-right';
    content: "5" if iconType == 'icon-arrow-bottom';
    content: "6" if iconType == 'icon-arrow-left';
    content: "#" if iconType == 'icon-arrow-up-alt';
    content: "$" if iconType == 'icon-arrow-right-alt';
    content: "%" if iconType == 'icon-arrow-bottom-alt';
    content: "^" if iconType == 'icon-arrow-left-alt';
    content: "9" if iconType == 'icon-move';
    content: "8" if iconType == 'icon-move-vertical';
    content: "7" if iconType == 'icon-move-horizontal';
    content: "(" if iconType == 'icon-move-alt';
    content: "*" if iconType == 'icon-move-vertical-alt';
    content: "&" if iconType == 'icon-move-horizontal-alt';
    content: ")" if iconType == 'icon-cursor';
    content: "+" if iconType == 'icon-plus';
    content: "=" if iconType == 'icon-plus-alt';
    content: "-" if iconType == 'icon-minus';
    content: "_" if iconType == 'icon-minus-alt';
    content: "1" if iconType == 'icon-new-window';
    content: "2" if iconType == 'icon-dial';
    content: "0" if iconType == 'icon-lightbulb';
    content: "/" if iconType == 'icon-link';
    content: "?" if iconType == 'icon-image';
    content: ">" if iconType == 'icon-article';
    content: "." if iconType == 'icon-read-more';
    content: "," if iconType == 'icon-headphones';
    content: "<" if iconType == 'icon-equalizer';
    content: ":" if iconType == 'icon-fullscreen';
    content: ";" if iconType == 'icon-exit-fullscreen';
    content: "[" if iconType == 'icon-spin';
    content: "{" if iconType == 'icon-spin-alt';
    content: "]" if iconType == 'icon-moon';
    content: "}" if iconType == 'icon-sun';
    content: "\\" if iconType == 'icon-map-pin';
    content: "|" if iconType == 'icon-pin';
    content: "~" if iconType == 'icon-eyedropper';
    content: "`" if iconType == 'icon-denied';
    content: "a" if iconType == 'icon-calendar';
    content: "A" if iconType == 'icon-calendar-alt';
    content: "b" if iconType == 'icon-bolt';
    content: "c" if iconType == 'icon-clock';
    content: "d" if iconType == 'icon-document';
    content: "e" if iconType == 'icon-book';
    content: "E" if iconType == 'icon-book-alt';
    content: "f" if iconType == 'icon-magnifying-glass';
    content: "g" if iconType == 'icon-tag';
    content: "h" if iconType == 'icon-heart';
    content: "i" if iconType == 'icon-info';
    content: "j" if iconType == 'icon-chat';
    content: "J" if iconType == 'icon-chat-alt';
    content: "k" if iconType == 'icon-key';
    content: "l" if iconType == 'icon-unlocked';
    content: "L" if iconType == 'icon-locked';
    content: "m" if iconType == 'icon-mail';
    content: "M" if iconType == 'icon-mail-alt';
    content: "n" if iconType == 'icon-phone';
    content: "o" if iconType == 'icon-box';
    content: "p" if iconType == 'icon-pencil';
    content: "P" if iconType == 'icon-pencil-alt';
    content: "q" if iconType == 'icon-comment';
    content: "Q" if iconType == 'icon-comment-alt';
    content: "r" if iconType == 'icon-rss';
    content: "s" if iconType == 'icon-star';
    content: "t" if iconType == 'icon-trash';
    content: "u" if iconType == 'icon-user';
    content: "v" if iconType == 'icon-volume';
    content: "V" if iconType == 'icon-mute';
    content: "w" if iconType == 'icon-cog';
    content: "W" if iconType == 'icon-cog-alt';
    content: "x" if iconType == 'icon-x';
    content: "X" if iconType == 'icon-x-alt';
    content: "y" if iconType == 'icon-check';
    content: "Y" if iconType == 'icon-check-alt';
    content: "z" if iconType == 'icon-beaker';
    content: "Z" if iconType == 'icon-beaker-alt';
  }
}